<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1" />
    <title>Insight Collector!! </title>
    <style th:inline="text">
        body{
            background: url([[@{/img/informatica_bg.png}]])
                        no-repeat center center fixed;
        }
    </style>
</head>
<body>
<div align="center" th:style="'color:white'">

    <h1 >Informatica Hackathon 2021</h1>
    <br /> <br /><br />
    <h2 >Insight Collector!!</h2>



    <br /> <br /><br /> <br /><br /> <br />

    <button type="submit" ><a th:href="@{/barChart}">Bar-Chart</a></button>
    <button type="submit" ><a th:href="@{/pieChart}">Pie-Chart</a></button>

    <br /> <br /><br /> <br /><br /> <br />

    <form action = "Process" method = "post" enctype = "multipart/form-data">
        <input type = "file" name = "file" size = "50" />
        <br />
        <input type = "submit" value = "Upload File" />
    </form>

</div>
</body>
</html>